[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rv301936
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rv301936
	label-Verified = -1..+1 group user/rv301936
	push = group user/rv301936
	read = group user/rv301936
	rebase = group user/rv301936
	removeReviewer = group user/rv301936
	submit = group user/rv301936
[access "refs/heads/*"]
	create = group user/rv301936
	push = +force group user/rv301936
	pushMerge = group user/rv301936
	read = group user/rv301936
[access "refs/tags/*"]
	push = group user/rv301936
	push = +force group user/rv301936
